<h1>Choose A Passenger from Below: </h1>
<div class="container">

<div class="data-slides">

    {{#each passengers}}
        <div class="passenger-slides">

            <img  class="passenger-img" src="{{image}}" style="width:75px" id="{{dataValues.Passengerid}}">

            <h3>{{dataValues.Name}}</h3>
            <h4>Age: {{dataValues.Age}}</h4>
            <h4>Gender: {{dataValues.Sex}}</h4>
            <h4>Class: {{dataValues.Pclass}}</h4>

        </div>


    {{/each }}
</div>
</div> 
